/.vscode
/cbios copy.asm
/cbios.asm.bin
/cbios.bin
/ch376s_driver.asm
/cpm22.bin
/filetransfer.asm
/filetransfer.asm.bin
/format.asm
/format.asm.bin
/main.asm.bin
/tests.asm
/USB Drive Disk Images
/xr.asm
/xr.asm.bin
/xs.asm
/xs.asm.bin